// These colors are specific to the theme. Do not use in a package!

@transparent-white: rgba(255, 255, 255, 0.14);
@transparent-gray: rgba(197, 200, 198, .1);
@translucent-gray: rgba(197, 200, 198, .2);

@very-very-light-gray: #dcdcdc;
@very-light-gray: #c8c8c8;
@light-gray: #b4b4b4;
@gray: #888888;
@dark-gray: #333333;
@very-dark-gray: #1e1e1e;
@very-very-dark-gray: #0f0f0f;

@red: #cc6666;

@light-orange: #ffcc66;
@orange: #de935f;

@light-yellow: #d2d295;
@yellow: #ffff00;
@dark-yellow: #dad085;

@light-green: #b5cea8;
@neon-green: #a8ff60;
@green: #99cc99;
@dark-green: #57a64a;

@blue-green: #2b91af;

@cyan: #8abeb7;
@light-blue: #9cdcfe;
@blue: #569cd6;
@dark-blue: #264f78;

@light-purple: #c6c5fe;
@purple: #b294bb;

@tan: #d69d85;
@brown: #9a5333;
