@import "colors";

// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-color-general-text: @very-very-light-gray;
@syntax-color-general-cursor: white;
@syntax-color-general-selection: @dark-blue;
@syntax-color-general-selection-flash: white;
@syntax-color-general-background: @very-dark-gray;
@syntax-color-general-error: @red;

// Guide colors
@syntax-color-guide-wrap: @transparent-gray;
@syntax-color-guide-indent: @translucent-gray;
@syntax-color-guide-invisible-character: @translucent-gray;

// For find and replace markers
@syntax-color-result-marker: @gray;
@syntax-color-result-marker-selected: white;

// Gutter colors
@syntax-color-gutter-text: @blue-green;
@syntax-color-gutter-text-selected: @syntax-color-gutter-text;
@syntax-color-gutter-background: @syntax-color-general-background;
@syntax-color-gutter-background-selected: @transparent-white;

// For git diff info. i.e. in the gutter
@syntax-color-git-renamed: @light-blue;
@syntax-color-git-added: @light-green;
@syntax-color-git-modified: @light-orange;
@syntax-color-git-removed: @red;

// For language entity colors
@syntax-color-default-variable: @light-blue;
@syntax-color-default-constant: @blue;
@syntax-color-default-number: @light-green;
@syntax-color-default-property: @very-very-light-gray;
@syntax-color-default-value: @light-yellow;
@syntax-color-default-function: @dark-yellow;
@syntax-color-default-method: @syntax-color-default-function;
@syntax-color-default-class: @light-blue;
@syntax-color-default-keyword: @blue;
@syntax-color-default-tag: @light-blue;
@syntax-color-default-attribute: @light-blue;
@syntax-color-default-import: @syntax-color-default-keyword;
@syntax-color-default-snippet: @syntax-color-default-constant;
@syntax-color-default-punctuation-tag: @gray;
@syntax-color-default-punctuation-bold: @light-orange;
@syntax-color-default-punctuation-italic: @purple;
@syntax-color-default-string: @syntax-color-general-text;
@syntax-color-default-regex: @brown;
@syntax-color-default-comment: @dark-green;

// js specific
@syntax-color-js-string: @tan;

// css
@syntax-color-css-class: @dark-yellow;
